.event-items-list {
    padding: 20px 10px 20px 10px;
    text-align: left;
    overflow-y: auto;
    height: 300px;
    box-shadow: 0px 0px 5px 1px #444;
    border-radius: 3px;
    margin: 20px 5% 10px;
}