 <div class="add-event-form">
    <div class="add-event-form__header">Новое мероприятие</div>
    <form class="add-event-form__form">
        <div class="add-event-form__group">
            <label for="add-event-form__event-name">Название:</label>
            <input type="text" name="event-name" id="add-event-form__event-name">
        </div>
        <div class="add-event-form__group">
            <label for="add-event-form__event-time">Время:</label>
            <input type="text" name="event-time" id="add-event-form__event-time" placeholder="00:00" maxlength="5">
        </div>
        <div class="add-event-form__group add-event-form__buttons">
            <input type="submit" value="OK"><button class="add-event-form__cancel">Cancel</button>
        </div>
    </form>
</div>