<div class="events-panel__header">Мероприятия</div>
<div class="events-panel__content">
    <div class="events-panel__events-form">
        <button class="events-panel__add-new-button">Добавить Мероприятие</button>
    </div>
    <div class="events-panel__add-event-form">
        <div class="add-event-form-wrapper">
            
        </div>
    </div>
</div>