<li class="event-items-list__item event-item" data-id="{{event.id}}" data-time="{{attr}}">
    <input class="event-item__checkbox" type="checkbox">
    <span class="event-item__time">{{event.time}}</span>
    <span class="event-item__text">{{event.name}}</span>
    <button class="event-item__delete-button">x</button>
</li>